git+https://github.com/huggingface/diffusers.git
fastapi==0.111.0
gunicorn==22.0.0
onnxruntime==1.16.3
pydantic==2.8.0
rembg[gpu]==2.0.59
safetensors==0.4.1
sentencepiece==0.2.0
transformers==4.44.2
uvicorn==0.30.1
xformers==0.0.22.post7
numpy==1.26.4
